@using UI_MVC.Models.Entities


@model List<Person>
@{
}

<h1>لیست پرسنلی</h1>
<a class="btn btn-primary" asp-controller="people" asp-action="Add"> جدید</a>
<table class="table table-hover w-100 mt-5">
    <tr>
        <td>شناسه</td>
        <td>نام</td>
        <td>نام خانوادگی </td>
        <td>موبایل </td>
        <td>شهر </td>
        <td></td>
    </tr>
    @foreach (var person in @Model)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.CityName</td>
            <td>@person.PhoneNumber</td>
            <td>
                <a asp-controller="people" asp-action="Edit" asp-route-id="@person.Id" class="btn btn-warning">ویرایش</a>
                
                <form asp-controller="people" asp-action="Delete" asp-route-id = "@person.Id" method="post">
                    <input type="submit" value="حذف" class="btn btn-danger" >
                </form>
            </td>

        </tr>
    }
</table>
